@{
    ViewBag.Title = "Get our Pearsonal Fitness Trainer app";
}

<h2>@ViewBag.Title</h2>
<p>You have not collected any data. Please download our Personal Fitness Trainer app, create trainings and record your workouts.</p>
<p>Get our app </p><a href="https://play.google.com/store">here</a>
